# Dependências e Builds
node_modules/
dist/

# Ambiente virtual Python
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Dados locais
*.xlsx
*.xls


# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log
